:root { 
--gray_900_02:#262626; 
--gray_900_03:#22251b; 
--gray_700:#585859; 
--gray_400:#b3b3b3; 
--lime_500:#caff33; 
--lime_500_33:#caff3333; 
--gray_900_00:#19191900; 
--gray_800:#4c4c4c; 
--gray_900_cc:#262626cc; 
--gray_900:#191919; 
--gray_900_01:#1c1c1c; 
--lime_A200:#d0ff4c; 
--gray_900_00_01:#1c1c1c00; 
--gray_900_00_02:#26262600; 
--gray_300:#e3e3e7; 
--lime_500_19:#caff3319; 
--gray_400_01:#bfbfbf; 
--lime_500_0c:#caff330c; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
}