.form-container {
    width: 50%;
    padding: 1px;
    display: flexbox;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 2px;
  }
  
  input {
    width: calc(100% - 22px); /* Adjusting for padding and border */
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in width calculation */
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
  }
  